name: Check CI

on:
  pull_request:
    types: [opened, edited, synchronize]

permissions:
  pull-requests: read
  contents: read

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Start services
        run: docker compose up -d

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24

      - name: Install dependencies
        run: npm install

      - name: Run CI
        env:
          NODE_ENV: test
        run: npm run ci
